*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about2-body{
    color: #000;
}
.left-logo-span{
    color: white;
}

.about2-wrapper{
    height: 100vh;
}
.about2-left{
    background: #0cb1b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about2-left-content > div{
    background: #5be9ec;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.about2-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);

}
.about2-img img{
    display: block;
    width: 200px;

}
.about2-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after{
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    opacity: 0;
    transform: all 0.6s ease;

}
.shadow:hover .about2-img{
    transform: translateY(-10px);
}
.shadow:hover::after{
    opacity: 1;
}
.about2-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #edffec;
    font-family: 'Salsa', cursive;


}
.about2-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.about2-icons{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;

}

.about2-icons li a{

    color: black;
}
.about2-icons li{
    list-style: none;
    background-color: #5be9ec;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.about2-icons li:hover{
    background: #edffec;
    color: #000;
}
.about2-right{
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about2-right h1{
    font-size: 7rem;
    text-transform: uppercase;
}
.about2-right h1 span{
    color: #5be9ec;

}
.about2-right h2{
    font-weight: 600;
}
.about2-btn{
    display: flex;
    margin: 2rem 0;
}
.about2-btn button{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    margin: 0 0.5rem;
    cursor: pointer;
}
.btn-pink{
    background-color: #0cb1b6;
    color: #fff;
    border-color: #0cb1b6;
    transition: all 0.5s ease-in-out;
}
.btn-pink:hover{
    background: transparent;
    color: #000;
}
.btn-white{
    transition: all 0.52s ease-in-out;
}
.btn-white:hover{
    background:#0cb1b6;
    border-color: #0cb1b6;
    color: #fff;
}
.about2-par{
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;

}
@media screen and (min-width:992px){
    .about2-wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .about2-left{
        position: relative;
    }
    .about2-left-content{
        position: absolute;
        right: -50px;
    }
}